*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(54, 79, 160);
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(108, 45, 80);
    color: azure;
    padding: 3px 20vh;
    align-items: center;
}

header img{
    height: 80px;
    border: solid rgb(222, 79, 60);
    border-radius: 50%;
    margin: 5px;
}

nav{
    display: flex;
    gap: 30px;
    align-items: center;
}
header nav div{
    width: 2px;
    height: 35px;
    background-color: rgb(11, 3, 123);
}

nav:hover{
    color: rgb(255, 94, 0);
}

.hero-section {
    background-image: url(.//assets/dubai.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 700px;
    padding: 20px;
    margin: 20px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
}

.button{
    display: inline-block;
    background-color:  rgb(73, 111, 235);
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 5px;

}
h2{
    display: inline;
    align-items: center;
    color: white;
}
#div1{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}
#div2{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}